<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515394464324-2uteitac2qsdh47rkqtq1u0ho794baq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515394464324-2uteitac2qsdh47rkqtq1u0ho794baq5</string>
	<key>API_KEY</key>
	<string>AIzaSyBSrV4SSks08yvdmx6Zz3l6rBSgk_AbmVk</string>
	<key>GCM_SENDER_ID</key>
	<string>515394464324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>sample-project-b2cd9</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-project-b2cd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515394464324:ios:db234e6ef3c17a814dea11</string>
</dict>
</plist>